.main
  .new-group
    .new-group__message
      知らない誰かとランダムでグループを作ります
    .new-group__form
      = form_with model: @group do |f|
        - @users.each do |user|
          %input{:name => "group[user_ids][]", :type => "hidden", :value => user.id}/
        %input{:name => "group[user_ids][]", :type => "hidden", :value => current_user.id}/
        = f.text_area :name
        = f.submit value: "作成", class: "btn"

        -# %input{:name => "group[user_ids][]", :type => "hidden", :value => current_user.id}/