.main
  .new-group
    .new-group__message
      知らない誰かとランダムでグループを作ります
    .new-group__form
      = form_with model: @group do |f|
        = f.hidden_field :user_id, :value => current_user.id
        = f.submit value: "作成", class: "btn"