.header {
  height: 50px;
  width: 100%;
  background-color: rgb(30, 143, 114);
  border-bottom: solid 3px rgb(23, 114, 91);
  position: fixed;
  top: 0;
}
.mypage {
  height: 100vh;
  width: 300px;
  background-color: rgb(134, 218, 166);
  border-right: groove medium rgb(146, 238, 181);
}
.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(30, 143, 114);
  border-top: solid 3px rgb(23, 114, 91);
  position: fixed;
  bottom: 0;
}