.header {
  height: 50px;
  width: 100%;
  background-color: rgb(68, 231, 131);
  border-bottom: groove medium rgb(53, 180, 102);
  position: fixed;
  top: 0;
}





.mypage {
  height: 100vh;
  width: 300px;
  background-color: rgb(134, 218, 166);
}





.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(68, 231, 131);
  border-top: groove medium rgb(53, 180, 102);
  position: fixed;
  bottom: 0;
}