.main {
  background-color: rgb(233, 231, 240);
  height: 100vh;
  width: calc(100% - 300px);
  float: right;
  margin-top: 50px;
  overflow: scroll;
  &__groups{
    background-color: aqua;
    height: 50%;
    width: 50%;
    color: black;
    float: left;
  &--icon{
    padding: 50px;
  }
  }

}